/* You can add global styles to this file, and also import other style files */
.ant-anchor-wrapper,
.ant-dialog-wrap,
.ant-drawer-body,
.ant-drawer-wrapper-body,
.nz-measure-scrollbar-placeholder,
.scrollbar,
body,
textarea.ant-input {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: none;
    &:hover {
      outline: #333 solid 1px;
      background-color: #dadada;
    }
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;

    &:hover {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
  }

}

.image-thumbnail-extra-small {
  width: 60px;
  height: 60px;
}

.image-thumbnail-small {
  width: 80px;
  height: 80px;
}

.image-thumbnail-medium {
  width: 120px;
  height: 120px;
}

//@function image-thumbnail($width){
//    @return
//}

// 1. 混入指令定义 (Mixin Directives)
//@mixin image-thumbnail($px){
//  width: $px;
//  height: $px;
//}
//
// 2. 使用
//.image-thumbnail-large{
//  @include image-thumbnail(20px)
//}
//
//3. 结果
//.image-thumbnail-large{
//  width: 20px;
//  height: 20px;
//}
//

